
.main{
    display: flex;
    flex-direction: column;
    height: 22vh;
}
.tabHolder{
    display: flex;
    flex-direction: row;
    height: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tab{
    padding-top: 1.5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 2.5px solid rgb(231, 231, 231);
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}
.tabText{
    color: black;
}
.divider{
    display: flex;
    width: 55vw;
}
.twitter{
    width: 1.5vw;
}
.facebook{
    margin-top: -20px;
    width: 7vw;
}





.bigText{
    font-size: 70px;
}

.section{
    display: flex;
    flex-direction: row;
    height: 12vh;
}
.title{
    padding-left: 2vw;
    padding-top: 2vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 40px;
}
.spacer{
    display: flex;
    width: 60vw;
}
.searchSection{
    width: 28vw;
    display: flex;
    flex-direction: column;
}

.searchBar{
    display: flex;
    margin-top: 3vh;
    height: 4vh;
}
.inputBar{
    height: 90%;
    width: 40%;
    margin-left: 30%;
    padding-left: 30px;
    font-size: 20px;
    outline: 0;
    border: 3px solid lightgray;
}
.searchBtn{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 5vw;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    &:hover{
        cursor: pointer;
        background-color: rgb(110, 110, 110);
        transform: scale(1.1);
    }
}

.tags{
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    width: 100%;
    height: 3vh;
    margin-top: 1vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tag{
    margin-right: 10px;
    color: rgb(167, 167, 167);
}
.tagText{
    color: black;
}
.bag{
    width: 1.6vw;
    height: 2.5vh;
}