.App {
  background-color: #282c34;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
  border: solid, black, 10px;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  height: 100px;
  width: 100%;
  background-color: grey;
  
  
}

.page {
  max-height: max-content;
  min-height: 90vh;
  width: 97%;
  background-color: dodgerblue;
}

.foot {
  height: 300px;
  width: 100%;
  background-color: grey;
  border-top: solid, blue, 10px;
}

.navbar {
  height: 100px;
  width: 100%;
  background-color: grey;
  align-content: first baseline;
  text-align: center;
  
}

.search-container {
  float: right;
}

.Brand {
  float: left;
}

.Landing {
  min-height: max-content;
  height: 2000px;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-align: center;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 20px;
  }
  
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .cardBody h3,
  .cardBody p {
    margin: 0;
  }
  
  .ratingOverlay {
    display: inline-block;
    background-color: #ffcc00;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .ratingOverlay span {
    color: white;
  }

  .image{
    min-height: 80%;
    max-height: 80%;
  }

.head {
  height: 1px;
  width: 100%;
  background-color: grey;
}

.hero {
  height: 400px;
  width: 100%;
  background-color: pink;
  text-align: center;

}

.newprod {
  height: 500px;
  width: 100%;
  background-color: rgb(179, 75, 75);
  text-align: center;
}

.popprod {
  height: 500px;
  width: 100%;
  background-color: rgb(150, 76, 76);
  text-align: center;
}

.ProductsPage {
  height: max-content + 10px;
  width: 100%;
  color: black;
  background-color: rgb(138, 50, 65);
}

.filter {
  float: right;
  height: 70px;
  width: 200px;
  background-color: greenyellow;
  text-align: center;
  text-align: top;
  margin-top: 15px;
}

.products {
  min-height: 100vh;
  width: 100%;
  background-color: white;
  color: black;
}

.Indiprod {
  height: 700px;
  width: 100%;
  border: black, solid, 2px;
  background-color: silver;
  text-align: center;
  color: black;
}

.prodimg {
  width: 49%;
  min-height: 500px;
  max-height: max-content;
  background-color: lightgreen; 
  float: left;
}

.proddetails {
  width: 49%;
  min-height: 500px;
  height: 500px;
  background-color: lightsalmon;
  float: right;
  text-align: center;
}

.atc {
  width: 90px;
  height: 30px;
  background-color: lightgreen;
}

.App-link {
  color: #61dafb;
}


